<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- Azure SQL Connection String -->
<!-- jdbc:sqlserver://bytes.database.windows.net:1433;database=ThinkrDB;user=kentative@bytes;password=Azure2016;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30; -->
<hibernate-configuration>
  <session-factory>

    <!-- Azure Connection -->
    <!--<property name="connection.url">jdbc:sqlserver://bytes.database.windows.net:1433;database=ThinkrDB;user=kentative@bytes;password=Azure2016;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;</property>-->
    <!--<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>-->
    <!--<property name="connection.username">kentative</property>-->
    <!--<property name="connection.password">Azure2016</property>-->

    <!-- Kent's Local Connection -->
    <property name="connection.url">jdbc:sqlserver://bytes.database.windows.net:1433;database=ThinkrDB;user=kentative@bytes;password=Azure2016;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.username">kentative</property>
    <property name="connection.password">Azure2016</property>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>